body {
	
	background-size: cover;
	background-position: center;
	background-color: rgb(6, 2, 23);
  }
  
  .container {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
	background-color: #052462;
	
  }
  
  .logo {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
  }
  
  h1 {
	text-align: center;
	color: white;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  label {
	margin-top: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
	padding: 10px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
  }
  
  input[type="submit"] {
	padding: 10px;
	margin-top: 10px;
	border-radius: 3px;
	background-color: #005a95;
	color: white;
	cursor: pointer;
  }